<div class="row">
  <div class="col-sm-6 col-1"></div>
  <div class="col-sm-6 col-2">
    <div class="content">
      <div class="error">404</div>
      <div class="error-subheader">
        <p>LOOKS LIKE YOU'RE LOST</p>
        <span>The page you are looking for not available</span>
      </div>
      <button mat-raised-button color="primary" [routerLink]="['../home']">
        Go To Home Page
      </button>

      <div>
        <a href="#">Need Help?</a>
      </div>
    </div>
  </div>
</div>
