$color-link: #0d6efd;

// Colors.
// =========================================================

/** Primary Color Code */
$primary-light: #0d6efd;
$primary-main: #3f51b5;
$primary-dark: #c21c2a;
$primary-light-1: #fff0f0;

/** Secondary Color Code */
$secondary-light: #030303;
$secondary-main: #1c1e21;
$secondary-dark: #171717;

/** Error Color Code */
$error-light: #eb7070;
$error-main: #e64d4d;
$error-dark: #a13535;

/** Warning Color Code */
$warning-light: #f7c77d;
$warning-main: #f5b95d;
$warning-dark: #ab8141;

/** Info Color Code */
$info-light: #4fc3f7;
$info-main: #29b6f6;
$info-dark: #0288d1;

/** Success Color Code */
$success-light: #83cfa4;
$success-main: #65c48e;
$success-dark: #468963;
$btn-good: #beffe1;
$btn-bad: #ffbebe;
/** Text Color Code */
$color-alpha: #1c1e21;
$color-beta: #969696;
$color-gamma: #0066cc;
$color-psi: #fff;

$color-omega: #3e3e3e;

/** Background Color Code */
$bg-color-alpha: #f5f6f8;
$bg-color-beta: #fff;
$bg-color-gamma: #e6e6e6;

/** Border Color Code */
$border-alpha: #ebebeb;

/** Gray Color Code */
$color-gray: #fafafa;
$color-gray-1: #f5f5f5;
$color-gray-2: #eeeeee;
$color-gray-3: #e0e0e0;
$color-gray-4: #bdbdbd;
$color-gray-5: #9e9e9e;
$color-gray-6: #757575;
$color-gray-7: #616161;
$color-gray-8: #424242;
$color-gray-9: #212121;
////////////////////
$color-grey-btn: #f0f0f0;
$color-border-button: #d1d1d1;
$color-btn-s: #d5d5d5;

///////////////
$stroke: #dedede;

/** Common Color Code */
$black: #000;
$white: #fff;

/** Fontsizes */
$font-small-xs: 8px;
$font-small: 10px;
$font-small-x: 12px;
$font-small-xx: 14px;
$font-meduim-x: 16px;
$font-meduim-xx: 18px;
$font-large-x: 20px;
$font-large-xx: 24px;
$font-xlarge-x: 28px;
$font-xlarge-xx: 35px;
