<div class="r">
  <div class="banner">
    <mat-card class="row">
      <div class="col-sm-6 content">
        <p>Welcome Back John..</p>
        <span>Here is all you need, schedule meetings in just few steps. </span>
      </div>
      <div class="col-sm-6 image">
        <img src="../../assets/images/banner.png" alt="bannerImage" />
      </div>
    </mat-card>
  </div>
</div>
<div class="r">
  <div class="col-sm-3">
    <mat-card class="card">
      <mat-icon class="i-1">supervisor_account</mat-icon>
      <p>100</p>
      <span>Total Users</span>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="card">
      <mat-icon class="i-2">person</mat-icon>
      <p>50</p>
      <span>Active Users</span></mat-card
    >
  </div>
  <div class="col-sm-3">
    <mat-card class="card">
      <mat-icon class="i-3">
        <span class="material-symbols-outlined"> person_off </span>
      </mat-icon>
      <p>50</p>
      <span>Inactive Users</span>
    </mat-card>
  </div>
</div>
<div class="row row-3">
  <div class="col-1 col-sm-4">
    <mat-card class="img-card">
      <img src="../../assets/images/dashboard-card.jpeg" alt="pic" />
    </mat-card>
  </div>
  <div class="col-2 col-sm-4">
    <div class="cards">
      <mat-card>
        <div class="card-1">
          <mat-icon class="i-1">laptop</mat-icon>
          <p>50</p>
          <span>Total Meetings</span>
        </div>
      </mat-card>
      <mat-card>
        <div class="card-1">
          <mat-icon class="i-2">laptop</mat-icon>
          <p>25</p>
          <span>Sheduled Meetings</span>
        </div>
      </mat-card>
      <mat-card
        ><div class="card-1">
          <mat-icon class="i-3">laptop</mat-icon>
          <p>20</p>
          <span>Complete Meetings</span>
        </div>
      </mat-card>
      <mat-card
        ><div class="card-1">
          <mat-icon class="i-4">laptop</mat-icon>
          <p>10</p>
          <span>Resheduled Meetings</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
