@import "../../styles/abstarct/variables";

.row {
  height: 100vh;
  margin: 0;
  padding: 0;
  .col-1 {
    padding: 0;
    margin: 0;
    background-color: #161e3f;
    .nav-header {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 1rem;
      .logo {
        color: $white;
        font-size: 20px;
        // font-weight: bold;
        &__icon {
          width: 24px;
          height: 24px;
          font-size: 24px;
        }
      }
    }
    .nav-menu {
      margin-top: 1rem;
      &__list {
        list-style: none;
        padding: 0;

        // margin: 0.5rem;

        .list-item {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;
          color: $white;
          font-size: 16px;
          height: 3rem;
          padding-left: 0.5rem;
          &:hover {
            border-radius: 5px;
            background-color: #dbdbdb;
            color: #3f51b5;
          }
        }
      }
    }
  }
  .col-2 {
    padding: 0;
    margin: 0;
    background-color: #f0eff3;
    .header {
      position: sticky;
      display: flex;
      // flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      .row-1 {
        width: 80vw !important;
        mat-toolbar {
          background-color: $white !important;
          border-radius: 5px;
        }
      }
    }

    .example-spacer {
      flex: 1 1 auto;
    }

    .row-2 {
    }
  }
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
